.big-link {
    display: flex;
    width: 100%;
    height: 76px;
    text-decoration: none;
    background: #f5f5f5;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background: #2970ff;
    }

    &:hover span, &:hover i{
        color: #fff;
    }

    span {
        font-size: 16px;
        margin-right: 20px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #2970ff;
        max-width: 50%;
        transition: 0.3s;
    }

    i {
        font-size: 20px;
        color: #2970ff;
        transition: 0.3s;
    }
}
