.brands {
    padding: 70px 0;

    &__slider {
        padding: 0 70px;
    }

    .owl-prev {
        font-size: 26px;
        line-height: 43px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 44px;
        height: 44px;
        margin-top: -22px;
        text-align: center;
        color: #404040;
        background: #f0f1f2;

        i {
            opacity: 0.4;
        }
    }

    .owl-next {
        font-size: 26px;
        line-height: 43px;
        position: absolute;
        top: 50%;
        right: 0;
        width: 44px;
        height: 44px;
        margin-top: -22px;
        text-align: center;
        color: #404040;
        background: #f0f1f2;

        i {
            opacity: 0.4;
        }
    }

    &__item {
        width: 80px;
        height: 51px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: contain!important;
    }
}
