.breadcrumb {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #000;

    span:last-child {
        color: #2970ff;
    }

    i {
        font-style: normal;
        margin: 0 5px;
    }
}
