.button {
    font-size: 16px;
    padding: 13px 30px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;

    &--blue {
        background: linear-gradient(90deg, #171793 0%, #2970ff 100%);
    }
}
