.catalog-pagination {
    position: relative;
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    margin-top: 55px;
    justify-content: space-between;
    align-items: center;

    &__next {
        font-size: 32px;
        color: rgba(0, 0, 0, .54);
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }

    &__prev {
        font-size: 32px;
        color: rgba(0, 0, 0, .54);
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }

    &__pages {
        display: flex;

        span {
            font-size: 24px;
            line-height: 40px;
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            color: rgba(0, 0, 0, .38);
            transition: 0.3s;

            &.active {
                color: #fff;
                background: #2970ff;
            }

            &:hover{
                color: #fff;
                background: #2970FF;
            }
        }
    }
}
