.catalog-detail{
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
    padding: 60px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;

    @include media(0px, 768px){
        padding: 20px;
    }

    &-preview{
        position: relative;
        &__images{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__image{
            background-color: rgba(0, 0, 0, 0.03)!important;
            width: calc((100% - 15px)/4);
            height: 85px;
            background-position: center!important;
            background-repeat: no-repeat!important;
            background-size: contain!important;
            cursor: pointer;
            transition: 0.3s;
            opacity: 0.4;
            &:hover{
                opacity: 0.7;
            }
            &--active{
                opacity: 1;
            }
        }
        &__badges{
            position: absolute;
            left: 0px;
            top: 0px;
        }
        &__badge{
            position: relative;
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            padding: 4px 12px;
            height: 27px;
            text-align: center;
            color: #fff;
            margin-right: 5px;
            text-transform: uppercase;
            span{
                position: relative;
            }
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                -webkit-transform: skewX(-21deg);
                transform: skewX(-21deg);
                background: #2970ff;
            }
            &--green::before{
                background: #21D677;
            }
        }

        &__photo{
            width: 100%;
            height: 309px;
            margin-bottom: 20px;
            @include media(0px, 768px){
                height: auto;
            }
            img{
                display: block;
                margin: 0 auto;
                max-width: 100%;
                height: 100%;
                @include media(0px, 768px){
                    height: auto;
                    width: 100%;
                }

            }
        }
    }

    &__column{
        width: calc((100% - 50px)/2);
        margin-bottom: 30px;

        @include media(0px, 768px){
            width: 100%;
        }
    }

    &__price{
        font-weight: 500;
        line-height: normal;
        font-size: 36px;
        margin-bottom: 45px;
        color: rgba(0, 0, 0, 0.87);
    }

    &__basket{
        width: 100%;
        display: flex;
        margin-bottom: 25px;

        @include media(0px, 768px){
            flex-wrap: wrap;
            .catalog-item-quantity, .catalog-item__button{
                margin-bottom: 20px;
            }
        }
    }

    &-delivery{
        display: flex;
        align-items: center;

        &__icon{
            z-index: 20;
            position: relative;
            margin-right: 20px;
            // animation: anime 5s infinite;
            //
            // @keyframes anime {
            //     0% {
            //         transform: translate(0px, -50px);
            //     }
            //     25% {
            //         transform: translate(500px, -50px);
            //     }
            //     35% {
            //         transform: translate(500px, 42px) rotateY(180deg) perspective(1000px);
            //     }
            //     70% {
            //         transform: translate(0px, 42px) rotateY(180deg) perspective(1000px);
            //     }
            //     100% {
            //         transform: translate(0px, -50px);
            //     }
            //
            // }
        }
        span{
            line-height: 21px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
        }
    }

    &__description{
        line-height: 21px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
    }

    .catalog-item__properties{
        margin-bottom: 50px;
    }

    &-property{
        padding: 9px 0px;
        display: flex;
        width: 440px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        @include media(540px, 980px){
            width: 100%;
            justify-content: space-between;
        }

        @include media(0px, 540px){
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__name{
            font-size: 16px;
            color: rgba(0, 0, 0, 0.87);
            width: 260px;
            @include media(540px, 980px){
                width: auto;
            }

            @include media(0px, 540px){
                width: 100%;
                margin-bottom: 10px;
            }
        }
        &__value{
            font-weight: 300;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.65);
            width: 180px;
            @include media(0px, 980px){
                width: auto;
            }
        }
    }

    .catalog-item-quantity{
        margin-right: 15px;
        &__count{
            width: 70px;
        }
    }
}
