.catalog-filter {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;

    @include media(0px, 768px){
        width: calc((100% - 10px) / 2);
        order: 2;
    }

    @include media(0px, 540px){
        display: none;
    }

    &-block {
        padding: 15px;
        border-bottom: 1px solid #efefef;

        &__title {
            font-size: 16px;
            font-weight: 500;
            display: flex;
            margin-bottom: 15px;
            cursor: pointer;
            opacity: 0.65;
            color: #000;
            align-items: center;
            justify-content: space-between;

            i {
                font-size: 26px;
                line-height: 18px;
                transition: 0.3s;
                transform: rotate(90deg);
                color: rgba(0, 0, 0, .26);
            }
        }

        &--hidden &__title {
            margin-bottom: 0;
            i {
                transform: rotate(-90deg);
            }
        }

        &--buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--hidden &__body{
            display: none;
        }
    }

    &-range {
        &__values {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            span{
                color: rgba(0,0,0,0.38);
            }
        }

        input {
            font-size: 14px;
            width: 112px;
            height: 36px;
            padding: 12px;
            color: rgba(#000, .75);
            border: none;
            background: #f5f5f5;
        }
        &__minmax{
            color: rgba(0,0,0,0.38);
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            margin-bottom: 7px;
        }
    }

    &-checkboxes {
        label {
            display: inline-block;
            width: 43%;
            margin-bottom: 8px;
            cursor: pointer;

            .mdi-checkbox-blank{
                display: none;
                color: #2970FF;
            }

            &:hover .mdi-checkbox-blank-outline{
                display: none;
            }

            &:hover .mdi-checkbox-blank{
                display: inline-block;
            }

            input {
                display: none;
            }

            input ~ .mdi-checkbox-marked {
                display: none;
            }

            input:checked ~ .mdi-checkbox-marked {
                display: inline-block;
            }

            input:checked ~ .mdi-checkbox-blank-outline {
                display: none;
            }

            input:checked ~ .mdi-checkbox-blank {
                display: none!important;
            }

            span {
                font-size: 14px;
                color: rgba(0, 0, 0, .38);
            }

            i {
                font-size: 18px;
                display: inline-block;
            }

            .mdi-checkbox-marked {
                color: #2970ff;
            }

            .mdi-checkbox-blank-outline {
                color: rgba(0, 0, 0, .38);
            }
        }
    }

    &__button {
        font-size: 14px;
        line-height: 30px;
        width: 120px;
        height: 30px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: #2970ff;
        border: 1px #2970ff solid;
        border-radius: 4px;
        background: #fff;
        transition: 0.3s;

        &:first-child{
            margin-right: 11px;
        }

        &:hover{
            background: #2970ff;
            color: #fff;
        }

        &--blue {
            color: #fff;
            background: #2970ff;
            &:hover{
                background: #0D54E3;
            }
        }
    }
}
