.catalog-slider {
    position: relative;
    display: block;
    padding-bottom: 90px;

    &__title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
        letter-spacing: 0.72px;
        color: #272727;

        @include media(0px, 540px){
            font-size: 18px;
        }
    }

    & .catalog-item {
        width: 100%;

        &::before {
            display: none!important;
        }
    }

    .owl-nav {
        font-size: 33px;
        position: absolute;
        top: -62px;
        right: 0;
        display: flex;
        justify-content: space-between;
    }

    .owl-prev {
        margin-right: 13px;
        cursor: pointer;
        color: rgba(0, 0, 0, .54);
        transition: 0.3s;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }

    .owl-next {
        width: 28px;
        cursor: pointer;
        color: rgba(0, 0, 0, .54);
        transition: 0.3s;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
}
