.catalog-menu {
    width: 255px;
    z-index: 10;

    @include media(0px, 768px){
        width: calc((100% - 10px) / 2);
        order: 1;
    }

    @include media(0px, 540px){
        display: none;
    }

    &__item {
        padding: 15px 5px 15px 15px;
        position: relative;
        display: flex;
        width: 100%;
        height: 44px;
        cursor: pointer;
        text-decoration: none;
        color: rgba(0,0,0,.65);
        background: #fff;
        align-items: center;
        justify-content: space-between;

        &:hover {
            color: #fff;
            background: #2970ff;
        }

        &--active{
            color: #fff;
            background: #2970ff;
        }

        span {
            font-size: 16px;
        }

        i {
            font-size: 24px;
        }
    }

    &__item>.catalog-menu {
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
        width: 281px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    }

    &__item:hover>.catalog-menu {
        display: block;
    }
}
