.catalog-items {
    font-size: 0;
}

.catalog-item {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(100% / 4);
    border: 1px solid #f5f5f5;
    background: #fff;

    @include media(1024px, 1280px){
        width: calc(100% / 3);
    }

    @include media(540px, 1024px){
        width: calc(100% / 2);
    }

    @include media(0px, 540px){
        width: 100%;
    }

    &--slider {
        width: auto;
    }

    &__preview {
        position: relative;
        z-index: 10;
        padding: 20px;
        background: #fff;
    }

    &__discount {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        position: absolute;
        top: 15px;
        left: 20px;
        width: 67px;
        height: 27px;
        padding: 4px;
        text-align: center;
        color: #fff;

        span {
            position: relative;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            transform: skewX(-21deg);
            background: #2970ff;
        }
    }

    &:hover {
        z-index: 10;
    }

    &:hover:before {
        opacity: 1;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        transition: 0.3s;
        opacity: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, .12);
    }

    &:hover &__hidden {
        z-index: 3;
        opacity: 1;
        top: 100%;
    }

    &:hover &__hidden:before {
        opacity: 1;
    }

    &__hidden {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
        transition: 0.3s opacity;
        opacity: 0;
        background: #fff;
        padding-bottom: 10px;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            transition: 0.3s;
            opacity: 0;
            box-shadow: 0 4px 30px rgba(0, 0, 0, .12);
        }
    }

    &__section {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
        color: #000;
    }

    &__name {
        font-size: 18px;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__price {
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, .87);

        &--new {
            color: red;
        }

        &--old {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 3px;
            text-decoration: line-through;
            opacity: 0.54;
            color: #000;
        }
    }

    &__image {
        width: 100%;
        height: 153px;
        margin-bottom: 10px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: contain!important;
    }

    &__button {
        position: relative;
        z-index: 6;
        height: 41px;
        padding: 2px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;
        background: linear-gradient(90deg, #2971ff 0%, #00a6ff 100%);
        align-self: center;
        margin-bottom: 10px;
        &:hover span{
            background: transparent;
            color: #fff;
        }
        span {
            font-size: 16px;
            display: block;
            height: 37px;
            padding: 10px 25px;
            text-align: center;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: #2970ff;
            border-radius: 2px;
            background: #fff;
            white-space: nowrap;
            transition: 0.3s;
        }

        &--blue {
            padding: 0;
            span {
                border-radius: 4px;
                color: #fff!important;
                background: transparent!important;
                height: 100%;
                line-height: 22px;
            }
            &:hover span{
                background: #2970ff!important;
            }
        }
    }

    &__properties {
        font-size: 0;

        label {
            font-size: 16px;
            display: block;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, .65);
        }
    }

    &__property {
        font-size: 14px;
        line-height: 15px;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 9px;
        cursor: pointer;
        color: #2970ff;
        border: 1px solid #2970ff;
        border-radius: 4px;

        &--active {
            color: #fff;
            background: #2970ff;
        }

        &--disabled{
            cursor: default;
            color: #000;
            opacity: 0.25;
            border: 1px solid #000;
        }
    }

    &__footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &-quantity {
        position: relative;
        z-index: 6;
        display: flex;
        align-self: center;
        margin-bottom: 10px;

        &__btn {
            font-size: 26px;
            line-height: 41px;
            width: 41px;
            height: 41px;
            cursor: pointer;
            text-align: center;
            color: rgba(0, 0, 0, .38);
            border-radius: 4px 0 0 4px;
            background: #f5f5f5;

            &--plus {
                color: #fff;
                border-radius: 0 4px 4px 0;
                background: #2970ff;
            }
        }

        &__count {
            font-size: 14px;
            line-height: 41px;
            width: 41px;
            height: 41px;
            text-align: center;
            color: rgba(0, 0, 0, .65);
            background: #eaeaea;
        }
    }
}
