.catalog-tabs{
    position: relative;
    margin-bottom: 40px;
    &-buttons{
        display: flex;
        @include media(0px, 980px){
            flex-wrap: wrap;
        }
        span{
            border-right: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
            width: 180px;
            height: 54px;
            background: #FCFCFC;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
            cursor: pointer;
            line-height: 54px;
            font-size: 16px;
            text-align: center;
            color: rgba(0, 0, 0, 0.54);
            transition: 0.4s;
            font-weight: 500;
            &.active{
                background: #2970FF!important;
                color: #fff!important;
            }

            &:hover{
                color: #2970FF;
            }

            @include media(0px, 980px){
                width: 50%;
            }
        }
    }
    &-view{
        position: relative;
        display: none;
        background: #fff;
        padding: 40px;

        &--active{
            display: block;
        }
    }
}
