.catalog-sort {
    span {
        font-size: 16px;
        display: inline-flex;
        margin-right: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        opacity: 0.38;
        color: rgba(0, 0, 0, .65);
        align-items: center;

        &.active {
            opacity: 1;
        }

        &.down {
            i {
                transform: rotate(-45deg);
            }
        }

        i {
            font-size: 20px;
            display: inline-block;
            margin-left: 5px;
            transform: rotate(135deg);
        }
    }
}
