.catalog {
    &-sections {
        position: relative;
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &-section {
        position: relative;
        // width: calc((100% - 30px) / 4);
        margin-right: 10px;
        margin-bottom: 50px;

        @include media(1368px){
            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        @include media(980px){
            width: calc((100% - 20px) / 3);
            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        @include media(540px, 980px){
            width: calc((100% - 10px) / 2);
            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        @include media(0px, 540px){
            margin-right: 0;
            width: 100%;
        }



        &__image {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }

        &__name {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 20px;
            opacity: 0.87;
            color: #000;
        }

        &__items {
            a {
                font-size: 16px;
                line-height: 22px;
                text-decoration: none;
                color: rgba(0, 0, 0, .65);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
