.footer {
    background: #162647;

    &__body{
        position: relative;
        display: flex;
        padding: 60px 70px;
        background: #162647;
        justify-content: space-between;
        align-items: flex-start;

        @include media(0px, 1280px){
            flex-wrap: wrap;
        }
        @include media(540px, 768px){
            padding: 40px;
        }
        @include media(380px, 540px){
            padding: 20px;
        }
        @include media(0px, 380px){
            padding: 10px;
            justify-content: center;
        }
    }




    &-item {
        margin-bottom: 20px;

        &--menu{
            width: calc( (100% - 64px * 4) * 1 / 7 );
        }

        &--contacts{
            width: calc( (100% - 64px * 4) * 2.3 / 7 );
        }

        &--info{
            width: calc( (100% - 64px * 4) * 1.7 / 7 );
        }

        @include media(980px, 1280px){
            &--menu, &--info{
                width: calc( (100% - 64px * 2) * 1 / 4 );
            }

            &--contacts{
                width: 100%;
            }
        }

        @include media(640px, 980px){
            &--menu{
                width: calc( (100% - 30px * 2) * 1 / 3 );
            }

            &--contacts{
                width: calc( (100% - 15px * 1) * 2 / 3 );
                order: 5;
            }

            &--info{
                width: calc( (100% - 30px * 2) * 1 / 3 );
                order: 4;
            }
        }

        @include media(380px, 640px){
            &--menu{
                width: calc( (100% - 10px * 2) * 1 / 2 );
            }

            &--contacts{
                width: 100%;
                order: 5;
            }

            &--info{
                width: calc( (100% - 10px * 2) * 1 / 2 );
                order: 4;
            }
        }

        @include media(0px, 380px){
            &--menu{
                width: 100%;
                text-align: center;
            }

            &--contacts{
                width: 100%;
                order: 4;
            }

            &--info{
                width: 100%;
                order: 5;
            }
        }

        &__title {
            font-size: 24px;
            margin-bottom: 25px;
            color: #fff;

            @include media(980px, 1280px){
                font-size: 20px;
                margin-bottom: 15px;
            }

            @include media(0px, 980px){
                font-size: 18px;
                margin-bottom: 10px;
            }

            @include media(0px, 380px){
                text-align: center;
            }

        }

        &__link {
            font-size: 14px;
            font-weight: 300;
            display: block;
            margin-bottom: 15px;
            transition: 0.3s;
            text-decoration: none;
            // opacity: 0.87;
            color: #fff;

            @include media(0px, 980px){
                margin-bottom: 10px;
            }

            &:hover {
                opacity: 1;
                color: #2970FF;
            }
        }
    }

    &-info {
        width: 100%;
        background: #fff;
        height: 200px;
        min-width: 150px;
        margin-top: 0px!important;

    }

    &-copyright {
        font-size: 14px;
        font-weight: 300;
        position: absolute;
        right: 70px;
        bottom: 30px;
        opacity: 0.54;
        color: #fff;
    }

    &-contacts{
        @include media(980px, 1280px){
            display: flex;
            justify-content: space-between;
        }
    }

    &-contact {
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        display: flex;
        margin-bottom: 20px;
        vertical-align: top;
        opacity: 0.87;
        color: #fff;
        align-items: flex-start;

        @include media(980px, 1280px){
            width: calc( (100% - 64px * 2) * 1 / 4 );
        }

        i {
            font-size: 20px;
            display: inline-block;
            margin-right: 12px;
            vertical-align: top;
        }

        span {
            display: inline-block;
            vertical-align: top;
        }
    }
}
