.header {
    position: relative;
    // margin-bottom: 10px;
}

.header-address {
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    @include media(0px, 540px) {
        display: none;
    }

    &:hover {
        text-decoration: underline;
    }

    i {
        font-size: 18px;
        margin-right: 2px;
        opacity: 0.54;
    }

    &__text {
        white-space: nowrap;
        opacity: 0.7;
    }

    span {
        @include media(0px, 768px) {
            display: none;
        }
    }
}

.header-row {
    position: relative;
    height: 100%;

    &__body {
        display: flex;
        width: 100%;
        max-width: 1366px;
        height: 100%;
        margin: 0 auto;
        padding: 0 70px;
        align-items: center;
        justify-content: space-between;
        @include media(0px, 980px) {
            padding: 0 10px;
        }
    }

    &--gray {
        font-size: 14px;
        line-height: 21px;
        height: 50px;
        color: #000;
        background: #f7f7f7;
        @include media(0px, 768px) {
            height: auto;
            padding: 10px;
        }
    }

    &--white {
        font-size: 14px;
        line-height: 21px;
        height: 80px;
        color: #000;
        background: #fff;
        @include media(0px, 980px) {
            height: auto;
            padding: 10px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &--blue {
        height: 60px;
        background: #2970ff;
        @include media(0px, 980px) {
            flex-wrap: wrap;
            height: auto;
        }
    }
    &--blue &__body{
        @include media(0px, 980px) {
            flex-wrap: wrap;
        }
    }
}

.header-logo {
    display: flex;
    align-items: center;
    @include media(0px, 980px) {
        &__desc {
            display: none;
        }
    }

    &__image {
        margin-right: 10px;
        height: 36px;
    }
}

.header-buttons {
    @include media(0px, 540px) {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

.header-button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    @include media(0px, 540px) {
        // display: flex;
    }

    &:hover {
        color: #2970ff;
    }

    &:last-child{
        margin-left: 24px;
    }

    &:hover i,
    &:hover span {
        opacity: 1;
    }

    i {
        font-size: 22px;
        margin-right: 9px;
        opacity: 0.54;
    }

    span {
        opacity: 0.7;
    }
}

.header-info {
    @include media(0, 540px) {
        display: none;
    }

    @include media(0, 768px) {
        &--tsk {
            display: none;
        }
    }

    &__phone {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2px;
        color: #171793;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        opacity: 0.54;
        color: #000;
    }
}

.header-basket {
    font-size: 16px;
    position: relative;
    display: flex;
    color: #171793;
    align-items: center;
    @include media(0px, 980px) {
        order: 3;
    }

    &__badge {
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
        position: absolute;
        top: -10px;
        left: 13px;
        width: 16px;
        height: 16px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        background: #ef0d0f;
    }

    i {
        font-size: 23px;
        margin-right: 10px;
    }
}

.header-menu {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    @include media(0, 980px) {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__burger,
    &__catalog {
        height: 34px;
        display: flex;
        margin-right: 15px;
        padding: 3px 12px;
        cursor: pointer;
        border-radius: 4px;
        background: #fff;
        align-items: center;

        @include media(0px, 980px){
            margin: 10px 0px;
        }

        i {
            font-size: 24px;
            margin-right: 10px;
            color: #2970ff;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            color: #2970ff;
        }
    }

    &__burger {
        display: none;
        margin-right: 0;
        @include media(0, 980px) {
            display: flex;
            align-items: center;
        }
        // i{
        //     margin-right: 0;
        // }
    }

    &--active &__items {
        display: flex!important;
    }

    &__items {
        display: flex;
        @include media(0px, 768px) {
            height: auto;
            flex-wrap: wrap;
        }
        @include media(768px, 980px) {
            height: 40px;
        }
        @include media(0px, 980px) {
            display: none;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__item {
        font-size: 14px;
        font-weight: 500;
        line-height: 62px;
        display: block;
        height: 60px;
        padding: 0 12px;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        @include media(980px, 1280px) {
            font-size: 13px;
            padding: 0 8px;
        }
        @include media(0px, 980px) {
            font-size: 12px;
            line-height: 40px;
            height: 100%;
            padding: 0 6px;
            // height: auto;
            // padding: 10px 12px;
            // line-height: 14px;
        }

        &:hover {
            background: #235fd9;
        }
    }
}
