
.header-search {
    display: flex;
    width: 35%;
    max-width: 35%;
    height: 100%;
    margin-left: 20px;
    padding-right: 12px;
    background: #235fd9;
    align-items: center;
    justify-content: space-between;

    &--mobile{
        width: 50%;
        max-width: 100%;
        height: 100%;
        display: none;
        margin-right: 20px;
        @include media(540px, 980px){
            display: flex;
        }

        @include media(0px, 540px){
            display: none;
        }
    }

    &--desktop{
        @include media(540px, 980px){
            display: none;
        }

        @include media(0px, 540px){
            width: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
            max-width: 100%;
            margin-left: 0;
            .header-menu--active + & {
                display: flex!important;
            }
        }
    }

    // @include media(768px, 980px) {
    //     position: absolute;
    //     right: 10px;
    //     bottom: 10px;
    //     // height: 100%;
    //     height: 40px;
    //     padding: 6px;
    // }
    // @include media(0px, 768px) {
    //     position: relative;
    //     width: 100%;
    //     max-width: none;
    //     margin-left: 0;
    //     padding: 5px;
    // }

    input {
        font-size: 18px;
        font-weight: 300;
        width: 80%;
        height: 100%;
        padding-right: 20px;
        padding-left: 20px;
        color: #fff;
        border: none;
        background: transparent;
        @include media(980px, 1280px) {
            font-size: 16px;
        }
        @include media(0px, 980px) {
            font-size: 14px;
        }

        &::placeholder {
            font-weight: 300;
            color: #92b6ff;
        }

        &:focus {
            outline: none;
        }
    }

    &__btn {
        display: flex;
        height: 36px;
        padding: 0 12px;
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
        border-radius: 4px;
        background: #084fc2;
        align-items: center;
        @include media(0px, 980px) {
            padding: 0 8px;
            margin: 4px 0px;
        }

        &:hover {
            background: #2970ff;
        }

        i {
            font-size: 18px;
            margin-right: 8px;
            @include media(0px, 980px) {
                font-size: 16px;
            }
        }

        span {
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            @include media(0px, 980px) {
                font-size: 12px;
            }
        }
    }
}
