.index-attention {
    font-size: 0;
    position: relative;
    margin: 60px;

    @include media(0px, 768px){
        margin: 20px;
    }

    &__background {
        width: 100%;
        @include media(0px, 768px){
            display: none;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        @include media(0px, 980px){
            display: none;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        position: absolute;
        top: 0;
        right: 5%;
        bottom: 0;
        left: 63%;
        display: flex;
        color: #575454;
        align-items: center;
        justify-content: center;

        @include media(980px, 1280px){
            font-size: 18px;
        }

        @include media(768px, 980px){
            font-size: 16px;
            left: 0;
        }

        @include media(0px, 768px){
            position: relative;
            padding: 30px 20px;
            left: auto;
            right: auto;
            bottom: auto;
            top: auto;
            font-size: 16px;
            background: #f6f6f6;
            text-align: center;
        }

        span {
            color: #2970ff;
        }

    }

    &__alert {
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 16px 30px;
        transform: translate(-50%, -50%);
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        z-index: 1;

        @include media(980px, 1280px){
            font-size: 15px;
            padding: 12px 24px;
        }

        @include media(0px, 980px){
            top: 0px;
            font-size: 14px;
            padding: 8px 16px;
        }

        span {
            position: relative;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            transform: skewX(-21deg);
            background: #2970ff;
        }
    }
}
