.index-advantages {
    font-size: 0;
    padding: 0 10px;

    &-item {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        display: inline-block;
        width: 25%;
        padding: 40px 0;
        vertical-align: top;

        @include media(0px, 980px){
            // width: 50%;
            padding: 20px 0;
            &:nth-child(2n)::after {
                display: none;
            }
        }

        @include media(0px, 768px){
            width: 50%;
            padding: 10px 0;
        }

        &::after {
            position: absolute;
            top: 45px;
            right: 0;
            bottom: 45px;
            width: 1px;
            content: '';
            background: #ebebeb;
        }

        &:last-child::after {
            display: none;
        }

        &__icon {
            display: block;
            height: 58px;
            margin: auto auto 25px;
            @include media(0px, 540px){
                margin: auto auto 10px;
                height: 28px;
            }
            @include media(540px, 980px){
                height: 42px;
            }
        }

        &:hover &__title{
            color: #2970FF;
        }

        &__title {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 5px;
            text-align: center;
            color: #272727;
            transition: 0.3s;
            @include media(0px, 540px){
                font-size: 14px;
                line-height: 18px;
            }
            @include media(540px, 980px){
                font-size: 16px;
                line-height: 18px;
            }
        }

        &__description {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            color: rgba(0, 0, 0, .65);
            @include media(0px, 540px){
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}
