.index-promo {
    font-size: 0;
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;

    @include media(0px, 980px){
        flex-wrap: wrap;
    }

    &-slider {
        font-size: 14px;
        position: relative;
        margin-right: 10px;

        @include media(980px){
            width: calc( (100% - 10px) *  75.74 / 100);
        }

        @include media(0px, 980px){
            width: 100%;
            margin-right: 0px;
            margin-bottom: 10px;
        }

        &__wrap {
            width: 100%;
            height: 100%;
        }

        .owl-stage {
            height: 100%;
        }

        .owl-stage-outer {
            height: 100%;
        }

        .owl-item {
            height: 100%;
        }

        .owl-prev {
            font-size: 26px;
            line-height: 43px;
            position: absolute;
            top: 50%;
            left: 0;
            width: 44px;
            height: 44px;
            margin-top: -22px;
            text-align: center;
            color: #404040;
            border-radius: 0 6px 6px 0;
            background: #fff;
        }

        .owl-next {
            font-size: 26px;
            line-height: 43px;
            position: absolute;
            top: 50%;
            right: 0;
            width: 44px;
            height: 44px;
            margin-top: -22px;
            text-align: center;
            color: #404040;
            border-radius: 6px 0 0 6px;
            background: #fff;
        }

        .owl-dots {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            height: 10px;

            .owl-dot {
                width: 100%;
                height: 10px;
                margin-right: 5px;
                transition: 0.2s;
                background: #171793;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    background: #2970ff;
                }
            }
        }
    }

    &-slide {
        width: 100%;
        height: 100%;
        padding: 10% 0 0 39%;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: cover!important;

        @include media(980px, 1368px){
            padding: 15% 0 0 39%;
        }

        @include media(0px, 980px){
            padding: 7% 0 7% 39%;
        }

        &__category {
            font-size: 36px;
            font-weight: 300;
            line-height: 47px;
            margin-bottom: 15px;
            color: #fff;

            @include media(768px, 1280px){
                font-size: 26px;
                line-height: 32px;
                margin-bottom: 10px;
            }
            @include media(0px, 768px){
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }

        &__product {
            font-size: 48px;
            font-weight: 500;
            line-height: 63px;
            margin-bottom: 32px;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            color: #fff;

            @include media(768px, 1280px){
                font-size: 42px;
                line-height: 42px;
                margin-bottom: 24px;
            }

            @include media(0px, 768px){
                font-size: 28px;
                line-height: 28px;
                margin-bottom: 10px;
            }
        }

        &__description {
            font-size: 20px;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 40px;
            color: #fff;
            padding-right: 50px;

            @include media(768px, 1280px){
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 30px;
            }

            @include media(0px, 768px){
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }

        &__button {
            display: inline-flex;
            padding: 10px 0;
            align-items: center;

            span {
                font-size: 20px;
                padding: 0 42px;

                @include media(768px, 1280px){
                    font-size: 18px;
                    padding: 0 30px;
                }

                @include media(0px, 768px){
                    font-size: 14px;
                    padding: 0 20px;
                }
            }

            i {
                width: 1px;
                height: 49px;
                opacity: 0.3;
                background: #fff;
                @include media(768px, 1280px){
                    height: 30px;
                }
                @include media(0px, 768px){
                    height: 20px;
                }
            }
        }

        &__price {
            font-size: 38px;
            font-weight: 500;
            padding: 0 25px;
            @include media(768px, 1280px){
                font-size: 28px;
            }
            @include media(0px, 768px){
                font-size: 16px;
            }
        }
    }

    &-feature {
        font-size: 14px;

        @include media(980px){
            width: calc( (100% - 10px) *  24.26 / 100);
        }

        @include media(0px, 980px){
            width: 100%;
            display: flex;
            justify-content: space-between;
        }


        &-item {
            position: relative;
            background-repeat: no-repeat!important;
            background-position: center!important;
            background-size: cover!important;

            @include media(0px, 980px){
                width: calc( (100% - 10px) *  50 / 100);
                height: 200px!important;
            }

            @include media(0px, 540px){
                height: 150px!important;
            }

            &:first-child {
                margin-bottom: 10px;
            }

            span {
                font-size: 20px;
                font-weight: 500;
                line-height: 33px;
                position: absolute;
                bottom: 90px;
                left: 20px;
                letter-spacing: 0.6px;
                text-transform: uppercase;
                color: #fff;

                @include media(0px, 540px){
                    left: 10px;
                    bottom: 60px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            a {
                position: absolute;
                bottom: 20px;
                left: 20px;

                @include media(0px, 540px){
                    left: 10px;
                    bottom: 10px;
                    font-size: 12px;
                    padding: 10px 20px;
                }
            }
        }
    }
}
