.index-product {
    position: relative;
    padding: 20px;
    border: 1px solid #f5f5f5;

    &--1 {
        width: 25%;

        @include media(400px, 980px){
            width: 50%;
        }

        @include media(0px, 400px){
            width: 100%;
        }
    }

    &--2 {
        width: 50%;

        @include media(0px, 980px){
            width: 100%;
        }
    }

    &--big {
        padding: 50px;

        @include media(0px, 980px){
            padding: 0;
            margin-bottom: 50px;
        }
    }

    &--big &__section {
        margin-bottom: 12px;
        text-align: center;
    }

    &--big &__name {
        margin-bottom: 30px;
        text-align: center;
    }

    &--big &__bottom {
        justify-content: center;
    }

    &--big &__price {
        // font-size: 32px;
        margin-right: 30px;

        @include media(0px, 768px){
            margin-right: 0;
        }
    }

    &__description {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 30px;
        color: rgba(0, 0, 0, .65);
    }

    &__discount {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 67px;
        height: 27px;
        padding: 4px;
        text-align: center;
        color: #fff;

        span {
            position: relative;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            transform: skewX(-21deg);
            background: #2970ff;
        }
    }

    &__section {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
        color: #000;
    }

    &__name {
        font-size: 18px;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media(0px, 768px){
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__price {
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, .87);
        white-space: nowrap;

        @include media(0px, 1280px){
            font-size: 18px;
        }

        @include media(0px, 768px){
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }

        &--new {
            color: red;
            white-space: nowrap;
        }

        &--old {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 3px;
            text-decoration: line-through;
            opacity: 0.54;
            color: #000;
            white-space: nowrap;
        }
    }

    &__image {
        width: 100%;
        height: 153px;
        margin-bottom: 10px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: contain!important;
    }

    &__button {
        padding: 2px;
        text-decoration: none;
        border-radius: 4px;
        background: linear-gradient(90deg, #2971ff 0%, #00a6ff 100%);

        &:hover span{
            background: transparent;
            color: #fff;
        }
        span {
            font-size: 16px;
            display: block;
            padding: 12px 30px;
            text-align: center;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: #2970ff;
            border-radius: 2px;
            background: #fff;
            transition: 0.3s;

            @include media(0px, 1280px){
                font-size: 14px;
                padding: 8px 24px;
            }
        }
    }
}
