.index-sections {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.index-section {
    cursor: pointer;
    position: relative;
    min-height: 250px;
    margin-bottom: 10px;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;

    &:hover &-overlay{
        opacity: 1;
    }

    &-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        padding: 40px;
        transition: 0.3s;
        background: rgba(41, 112, 255, 0.8);
        @include media(540px, 980px){
            padding: 20px;
        }

        @include media(0px, 540px){
            padding: 10px;
        }

        &__title{
            font-size: 20px;
            color: #FFFFFF;
            margin-bottom: 35px;
            @include media(0px, 540px){
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
        &__desc{
            font-size: 16px;
            color: #FFFFFF;
            margin-bottom: 17px;
            @include media(0px, 540px){
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
    }

    @include media(980px){
        &--1 {
            width: calc((100% - 30px) / 4);
        }

        &--2 {
            width: calc(10px + 2 * ((100% - 30px) / 4));
        }
    }

    @include media(0px, 980px){
        &--1 {
            width: calc((100% - 20px) / 3);
        }

        &--2 {
            width: calc(10px + 2 * ((100% - 20px) / 3));
        }
    }

    @include media(0px, 540px){
        min-height: 110px;
    }

    &:hover &__name{
        opacity: 0;
    }

    &__name {
        font-size: 20px;
        position: absolute;
        bottom: 25px;
        left: 25px;
        padding: 9px 15px;
        text-align: center;
        color: #fff;
        background: #2970ff;
        opacity: 1;
        transition: 0.4s;

        @include media(0px, 540px){
            bottom: 10px;
            left: 10px;
            font-size: 14px;
            padding: 4px 6px;
        }
    }
}
