.latest {
    padding: 0 70px 60px;

    @include media(540px, 980px){
        padding: 0 50px 30px;
    }

    @include media(0px, 540px){
        padding: 0 20px 10px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 25px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: #272727;

        @include media(0px, 980px){
            margin-bottom: 10px;
            margin-top: 50px;
        }
    }

    &__container {
        display: flex;
        box-shadow: 0 0 30px rgba(0, 0, 0, .04);
        flex-wrap: wrap;
    }

    &__left {
        width: 50%;

        @include media(0px, 980px){
            width: 100%;
        }
    }

    &__right {
        display: flex;
        width: 50%;
        flex-wrap: wrap;

        @include media(0px, 980px){
            width: 100%;
        }

        & > div {
            width: 50%;

            @include media(0px, 400px){
                width: 100%;
            }
        }
    }
}
