.mountains {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 65px 190px 240px;

    @include media(540px, 980px){
        padding: 50px 50px 200px 50px;
    }

    @include media(0px, 540px){
        padding: 50px 30px 200px 30px;
    }

    &--index {
        background-color: #f6f6f6;
    }

    &--catalog {
        background-color: #f5f5f5;
    }

    &--active &__slide {
        transform: translateY(0px);
    }

    &__slide {
        font-weight: 300;
        position: relative;
        z-index: 0;
        top: 40%;
        max-width: 984px;
        margin: 0 auto;
        transition: 1s;
        transform: translateY(500px);

        &--active {
            z-index: 10;
        }
    }

    &--catalog &__overlay {
        background-position: center -35px!important;
        @include media(0px, 1578px){
            background-position: center 10px!important;
        }
    }

    &--index &__overlay {
        background-position: center 70px!important;
        @include media(1368px, 1680px){
            background-position: center 105px!important;
        }
        @include media(980px, 1368px){
            background-position: center 120px!important;
        }
        @include media(0px, 980px){
            background-position: center 0px!important;
        }
    }

    &__overlay {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/i/mountains.png');
        background-repeat: no-repeat!important;
        background-position: center top!important;
        background-size: cover!important;

        @include media(0px, 980px){
            top: auto;
            bottom: 0;
            height: 60%;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 500;
        line-height: 68px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        opacity: 0.87;
        color: #192c52;
        @include media(0px, 980px){
            font-size: 34px;
            line-height: 36px;
            margin-bottom: 10px;
        }
    }

    &__text {
        font-size: 22px;
        font-weight: 300;
        line-height: 31px;
        margin-bottom: 10px;
        text-align: center;
        color: rgba(0, 0, 0, .65);

        @include media(540px, 980px){
            font-size: 18px;
            line-height: 24px;
        }

        @include media(0px, 540px){
            font-size: 14px;
            line-height: 18px;
        }

        &--light {
            font-size: 16px;
            line-height: 23px;
            text-align: left;
            opacity: 0.65;
            color: #000;
            @include media(1368px){
                font-size: 18px;
            }
        }
    }

    &__link {
        font-size: 22px;
        font-weight: 300;
        line-height: 31px;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #2970ff;

        &:hover {
            text-decoration: underline;
        }
    }
}
