.news-slider {
    position: relative;
    padding: 50px 70px;
    background: #f6f6f6;

    @include media(540px, 980px){
        padding: 30px 50px;
    }

    @include media(0px, 540px){
        padding: 30px 30px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
        margin-bottom: 25px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: #272727;
    }

    .owl-nav {
        font-size: 42px;
        position: absolute;
        top: -67px;
        right: 0;
        display: flex;
        justify-content: space-between;
    }

    .owl-prev {
        margin-right: 20px;
        cursor: pointer;
        color: rgba(0, 0, 0, .26);
    }

    .owl-next {
        width: 28px;
        cursor: pointer;
        color: rgba(0, 0, 0, .26);
    }

    &-item {
        &__image {
            height: 153px;
            background-repeat: no-repeat!important;
            background-position: center!important;
            background-size: cover!important;
        }

        &__description {
            padding: 10px 17px 17px;
            background: #fff;
        }

        &__date {
            font-size: 11px;
            font-weight: 300;
            line-height: 16px;
            margin-bottom: 5px;
            color: rgba(0, 0, 0, .54);
        }

        &__title {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 5px;
            opacity: 0.87;
            color: #000;
        }

        &__text {
            font-size: 12px;
            font-weight: 300;
            line-height: 17px;
            color: rgba(0, 0, 0, .65);
        }
    }
}
