.sale {
    position: relative;
    overflow: hidden;
    padding: 60px 70px;
    background: #fbfbfb;

    @include media(540px, 980px){
        padding: 30px 50px;
    }

    @include media(0px, 540px){
        padding: 20px;
    }

    &::before {
        position: absolute;
        top: 0;
        left: -47%;
        width: 100%;
        height: 100%;
        content: '';
        transform: skewX(-21deg);
        background: #2970ff;

        @include media(540px, 980px){
            transform: skewX(-17deg);
        }

        @include media(0px, 540px){
            transform: skewX(0deg);
            left: 0;
        }

    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        position: relative;
        margin-bottom: 30px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: #fff;

        @include media(0px, 980px){
            margin-bottom: 15px;
        }
    }

    &__container {
        position: relative;
        display: flex;
        background: #fff;
        flex-wrap: wrap;
    }
}
