.subscribe {
    display: flex;
    height: 90px;
    background: #192c52;
    align-items: center;
    justify-content: center;
    padding: 15px;

    @include media(0px, 980px){
        height: auto;
        flex-wrap: wrap;
    }

    &__text {
        font-size: 20px;
        line-height: 20px;
        margin-right: 35px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #fff;

        @include media(0px, 980px){
            font-size: 15px;
            margin-right: 0px;
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    &__container {
        position: relative;
        width: 440px;
        @include media(0px, 980px){
            width: 80%;
        }
    }

    &__submit {
        font-size: 22px;
        position: absolute;
        top: 50%;
        right: 7px;
        cursor: pointer;
        transform: translateY(-50%);
        color: #2970ff;
        border: none;
        background: none;
    }

    &__email {
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        padding: 12px 16px;
        border: none;
        border-radius: 4px;
        background: #fff;

        &::placeholder {
            color: rgba(0, 0, 0, .26);
        }
    }
}
