*{
    font-family: 'Rubik', sans-serif;
    outline: none;
    box-sizing: border-box;
}
html{
    position: relative;
    overflow-x: hidden;
    width: 100%;
}
body{
    font-family: 'Rubik', sans-serif;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}
.wrap{
    max-width: 1366px;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
