.catalog {
    position: relative;
    background: #f5f5f5;

    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 50px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: #272727;
        &--subtitle{
            margin-bottom: 15px;
        }

        @include media(0px, 980px){
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    &__subtitle{
        font-weight: 300;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 30px;
    }
    &-body {
        padding-bottom: 90px;
        padding-left: 270px;
        position: relative;
        @include media(0px, 768px){
            padding-left: 0;
        }
    }

    &-wrap {
        display: block;
        max-width: 1366px;
        width: 100%;
        margin: auto;
        padding: 0 70px;
        position: relative;

        @include media(0px, 980px){
            padding: 0 10px;
        }
    }

    &-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 255px;

        @include media(0px, 768px){
            position: relative;
            left: auto;
            top: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}
