@mixin column($columnWeight: 1, $columnsCount: 12, $margin: 10px) {
    display: inline-block;
    vertical-align: top;
    width: calc(
        (
            (
                100% -  (
                    #{$margin} * ( #{$columnsCount} - 1 )
                )
            ) / 12
        ) * #{$columnWeight}
    );
}
